<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
<title></title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <br/>
<style type="text/css">
<!--
	p {margin: 0; padding: 0;}	.ft10{font-size:13px;font-family:Helvetica;color:#000000;}
	.ft11{font-size:14px;font-family:Helvetica;color:#000000;}
	.ft12{font-size:20px;font-family:Helvetica;color:#000000;}
	.ft13{font-size:11px;font-family:Helvetica;color:#000000;}
	.ft14{font-size:11px;font-family:Helvetica;color:#000000;}
	.ft15{font-size:13px;font-family:Helvetica;color:#000000;}
	.ft16{font-size:13px;line-height:17px;font-family:Helvetica;color:#000000;}
-->
</style>
</head>
<body bgcolor="white" vlink="blue" link="blue">
<div id="page1-div" style="position:relative;width:892px;height:1263px;">
<p style="position:absolute;top:78px;left:305px;white-space:nowrap" class="ft11">Formerly Delhi College of Engineering</p>
<p style="position:absolute;top:50px;left:293px;white-space:nowrap" class="ft12">Delhi Technological University</p>
<p style="position:absolute;top:103px;left:365px;white-space:nowrap" class="ft10">Acknowledgement Slip</p>
<p style="position:absolute;top:126px;left:288px;white-space:nowrap" class="ft10"><%=aprog.name%>(<%=sp.sp_name%>)</p>
<p style="position:absolute;top:164px;left:552px;white-space:nowrap" class="ft13"><b>Report Print Date:</b></p>
<p style="position:absolute;top:164px;left:695px;white-space:nowrap" class="ft14"><%let today = new Date().toISOString().slice(0, 10)%><%=today%></p>
<p style="position:absolute;top:200px;left:552px;white-space:nowrap" class="ft13"><b>For Semester:</b></p>
<p style="position:absolute;top:224px;left:35px;white-space:nowrap" class="ft13"><b>Student Name:</b></p>
<p style="position:absolute;top:200px;left:35px;white-space:nowrap" class="ft13"><b>Student ID:</b></p>
<p style="position:absolute;top:200px;left:177px;white-space:nowrap" class="ft14">2K21/EE/121</p>
<p style="position:absolute;top:200px;left:695px;white-space:nowrap" class="ft14">IV Semester</p>
<p style="position:absolute;top:224px;left:177px;white-space:nowrap" class="ft14">HARDIK</p>
<p style="position:absolute;top:224px;left:552px;white-space:nowrap" class="ft13"><b>DOB:</b></p>
<p style="position:absolute;top:224px;left:695px;white-space:nowrap" class="ft14">13-12-2003</p>
<p style="position:absolute;top:248px;left:35px;white-space:nowrap" class="ft13"><b>Email:</b></p>
<p style="position:absolute;top:248px;left:177px;white-space:nowrap" class="ft14">kaushikhardik35@gmail.com</p>
<p style="position:absolute;top:248px;left:552px;white-space:nowrap" class="ft13"><b>Mobile:</b></p>
<p style="position:absolute;top:248px;left:695px;white-space:nowrap" class="ft14">9991468093</p>
<p style="position:absolute;top:270px;left:35px;white-space:nowrap" class="ft13"><b>Mother's Name:</b></p>
<p style="position:absolute;top:270px;left:177px;white-space:nowrap" class="ft14">SUMAN</p>
<p style="position:absolute;top:270px;left:552px;white-space:nowrap" class="ft13"><b>Father's Name:</b></p>
<p style="position:absolute;top:270px;left:695px;white-space:nowrap" class="ft14">RISHI PARKASH</p>
<p style="position:absolute;top:293px;left:35px;white-space:nowrap" class="ft13"><b>Address:</b></p>
<p style="position:absolute;top:293px;left:177px;white-space:nowrap" class="ft14">567,SECTOR 23,SONIPAT,SONIPAT,HARYANA, &#160;-131001</p>
<p style="position:absolute;top:391px;left:150px;white-space:nowrap" class="ft13"><b>Code</b></p>
<p style="position:absolute;top:391px;left:432px;white-space:nowrap" class="ft13"><b>Course</b></p>
<p style="position:absolute;top:391px;left:41px;white-space:nowrap" class="ft13"><b>SNo</b></p>
<p style="position:absolute;top:391px;left:728px;white-space:nowrap" class="ft13"><b>Type</b></p>
<p style="position:absolute;top:390px;left:804px;white-space:nowrap" class="ft15"><b>Credits</b></p>
<p style="position:absolute;top:391px;left:78px;white-space:nowrap" class="ft13"><b>Order</b></p>
<p style="position:absolute;top:421px;left:219px;white-space:nowrap" class="ft14">POWER PLANT ENGINEERING</p>
<p style="position:absolute;top:421px;left:122px;white-space:nowrap" class="ft14">ME252</p>
<p style="position:absolute;top:421px;left:50px;white-space:nowrap" class="ft14">1</p>
<p style="position:absolute;top:421px;left:698px;white-space:nowrap" class="ft14">Compulsory</p>
<p style="position:absolute;top:421px;left:826px;white-space:nowrap" class="ft14">4</p>
<p style="position:absolute;top:421px;left:92px;white-space:nowrap" class="ft14">1</p>
<p style="position:absolute;top:451px;left:219px;white-space:nowrap" class="ft14">LINEAR INTEGRATED CIRCUITS</p>
<p style="position:absolute;top:451px;left:122px;white-space:nowrap" class="ft14">EE202a</p>
<p style="position:absolute;top:451px;left:50px;white-space:nowrap" class="ft14">2</p>
<p style="position:absolute;top:451px;left:698px;white-space:nowrap" class="ft14">Compulsory</p>
<p style="position:absolute;top:451px;left:826px;white-space:nowrap" class="ft14">4</p>
<p style="position:absolute;top:451px;left:92px;white-space:nowrap" class="ft14">2</p>
<p style="position:absolute;top:481px;left:219px;white-space:nowrap" class="ft14">DIGITAL CIRCUITS AND SYSTEM</p>
<p style="position:absolute;top:481px;left:122px;white-space:nowrap" class="ft14">EE204</p>
<p style="position:absolute;top:481px;left:50px;white-space:nowrap" class="ft14">3</p>
<p style="position:absolute;top:481px;left:698px;white-space:nowrap" class="ft14">Compulsory</p>
<p style="position:absolute;top:481px;left:826px;white-space:nowrap" class="ft14">4</p>
<p style="position:absolute;top:481px;left:92px;white-space:nowrap" class="ft14">3</p>
<p style="position:absolute;top:511px;left:219px;white-space:nowrap" class="ft14">CONTROL SYSTEMS</p>
<p style="position:absolute;top:511px;left:122px;white-space:nowrap" class="ft14">EE206</p>
<p style="position:absolute;top:511px;left:50px;white-space:nowrap" class="ft14">4</p>
<p style="position:absolute;top:511px;left:698px;white-space:nowrap" class="ft14">Compulsory</p>
<p style="position:absolute;top:511px;left:826px;white-space:nowrap" class="ft14">4</p>
<p style="position:absolute;top:511px;left:92px;white-space:nowrap" class="ft14">4</p>
<p style="position:absolute;top:541px;left:219px;white-space:nowrap" class="ft14">ASYNCHRONOUS AND SYNCHRONOUS MACHINES</p>
<p style="position:absolute;top:541px;left:122px;white-space:nowrap" class="ft14">EE208</p>
<p style="position:absolute;top:541px;left:50px;white-space:nowrap" class="ft14">5</p>
<p style="position:absolute;top:541px;left:698px;white-space:nowrap" class="ft14">Compulsory</p>
<p style="position:absolute;top:541px;left:826px;white-space:nowrap" class="ft14">4</p>
<p style="position:absolute;top:541px;left:92px;white-space:nowrap" class="ft14">5</p>
<p style="position:absolute;top:571px;left:219px;white-space:nowrap" class="ft14">ELECTROMAGNETIC FIELD THEORY</p>
<p style="position:absolute;top:571px;left:122px;white-space:nowrap" class="ft14">EE202</p>
<p style="position:absolute;top:571px;left:50px;white-space:nowrap" class="ft14">6</p>
<p style="position:absolute;top:571px;left:698px;white-space:nowrap" class="ft14">Compulsory</p>
<p style="position:absolute;top:571px;left:826px;white-space:nowrap" class="ft14">4</p>
<p style="position:absolute;top:571px;left:94px;white-space:nowrap" class="ft14">-</p>
<p style="position:absolute;top:601px;left:219px;white-space:nowrap" class="ft14">Emotional Intelligence (S4)</p>
<p style="position:absolute;top:601px;left:122px;white-space:nowrap" class="ft14">FEC28</p>
<p style="position:absolute;top:601px;left:50px;white-space:nowrap" class="ft14">7</p>
<p style="position:absolute;top:601px;left:698px;white-space:nowrap" class="ft14">Optional</p>
<p style="position:absolute;top:601px;left:826px;white-space:nowrap" class="ft14">2</p>
<p style="position:absolute;top:601px;left:94px;white-space:nowrap" class="ft14">-</p>
<p style="position:absolute;top:327px;left:35px;white-space:nowrap" class="ft16">Register for following subjects in the suggested scheme of Bachelor of Technology Electrical Engineering during the EVEN<br/>semester of 2022-2023(Jan-May)</p>
<p style="position:absolute;top:648px;left:30px;white-space:nowrap" class="ft16">Declaration : I here by declare that all the information I have provided during the course registration is true and best of my<br/>knowledge. I have passed/will pass all the courses(subjects) in the first and second year. Failing which, I agree to cancel this<br/>registration. I agree that this course registration is provisional.</p>
<p style="position:absolute;top:728px;left:30px;white-space:nowrap" class="ft10">Signature of Student.........................</p>
<p style="position:absolute;top:750px;left:30px;white-space:nowrap" class="ft10">December 8, 2022, 6:39 PM</p>
<p style="position:absolute;top:752px;left:681px;white-space:nowrap" class="ft10">Signature of Head of Deptt.</p>
<p style="position:absolute;top:793px;left:391px;white-space:nowrap" class="ft15"><b>CERTIFICATE</b></p>
<p style="position:absolute;top:831px;left:30px;white-space:nowrap" class="ft16">That HARDIK (2K21/EE/121) has satisfied the requirement of attendance for admission to the EVEN semester of 2022-<br/>2023(Jan-May) Examination of Bachelor of Technology course.<br/>That HARDIK (2K21/EE/121) has good moral character as per this office record.</p>
<p style="position:absolute;top:911px;left:30px;white-space:nowrap" class="ft10">Dated</p>
<p style="position:absolute;top:911px;left:695px;white-space:nowrap" class="ft10">Signature of Dean(Acad.)</p>
</div>
</body>
</html>
