<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Delhi Technological University</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/admin/home/<%=admin._id%>">Home</a>
                <a class="nav-link" href="/admin/students">Students</a>
                <a class="nav-link" href="/admin/courseRegisteration">Course Registeration</a>
                <a class="nav-link" href="/admin/subjects">Subjects</a>

            </div>
            
        </div>
        <div class="navbar-nav ml-auto float-right">
            <div class="nav-link">Hello <%=admin.adminID%></div>
            <a class="nav-link" href="/admin/login">Logout</a>
           
        </div>
      
    </div>
    </div>
    
</nav>
